*, html, body {
    margin: 0;
    padding: 0;
    font-family: "Silkscreen", sans-serif;
}

:root {
    --bg-primary: darkslateblue;
    --bg-secondary: #eaeaea;
    --txt-primary: white;
    --txt-secondary: black;
}
.container {
    width: 100%;
    height: 100vh;
    background-color: var(--bg-primary);
}

.wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

.card {
    padding: 20px;
    margin: 8px;
    border: 1px solid white;
    background-color: var(--bg-secondary);
    color: var(--txt-secondary);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}


.text-center {
    text-align: center;
}

.title {
    font-size: 2em;
}

.icons {
    margin-top: 8px;
    font-size: 29px;
    color: tomato;
}

.desc {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 8px;
    font-size: 1em;
}

.btn {
    margin-top: 16px;
    padding: 8px;
    cursor: pointer;
    border: none;
    width: 100%;
    background-color: rgb(187, 178, 255);
}

.btn:hover {
    background-color: var(--bg-primary);
    color: var(--txt-primary);
    transform: rotate(2deg);
    transition: .2s ease-in-out;
}